{% extends 'base.html' %}

{% block content %}
    <h1>Signup for Car Owners </h1>
	<form method='post' novalidate='' class='form-group'>
		{% csrf_token %}
		<input type='hidden' name='next' value=''>
		<div class='row'>
			<label for='id_email' class='col col-2 offset-3'>Email address</label> 
			<input type='email' name='email' required maxlength='254' id='id_email' class='col col-4 form-control'>
		</div>
		<div class='row'>
			<label for='id_first_name' class='col col-2 offset-3'>First name</label> 
			<input type='text' name='first_name' maxlength='30' id='id_first_name' class='col col-4 form-control'>
		</div>
		<div class='row'>
			<label for='id_last_name' class='col col-2 offset-3'>Last name</label> 
			<input type='text' name='last_name' maxlength='150' id='id_last_name' class='col col-4 form-control'>
		</div>
		<div class='row'>
			<label for='id_password1' class='col col-2 offset-3'>Password</label> 
			<input type='password' name='password1' required id='id_password1' class='col col-4 form-control'>
		</div>
		<div class='row'>
			<label for='id_password2' class='col col-2 offset-3'>Re-type Password</label> 
			<input type='password' name='password2' required id='id_password2' class='col col-4 form-control'>
		</div>
		<div class='row'>
			<label for='id_loc_office' class='col col-2 offset-3'>Office location</label> 
			<input type='text' name='loc_office' required maxlength='100' id='id_loc_office' class='col col-4 form-control'>
		</div>
		<div class='row'>
			<div class='col col-3 offset-5'>
				<button type='submit' class='btn btn-primary'>Sign up</button>
			</div>
		</div>
	</form>
{% endblock %}
