<!DOCTYPE html>
<html>
  <head>
	<title>Signup for Car Owners - Auto Concierge</title>
  </head>
  <body>
    <h1>Signup for Car Owners </h1>
    <hr />
	<div class="donor-signup-container">
		<div class="row">
			<div class="col-md-8 col-sm-10 col-12">
				<div class="donor-signup-header">
				  <h1>Sign Up As Donor:</h1>
				</div>
				
				<hr />
				<form method="post" novalidate="">
					{% csrf_token %}
					<input type="hidden" name="next" value="">
					<p>
						<label for="id_email">Email address:</label> 
						<input type="email" name="email" required="" maxlength="254" id="id_email">
					</p>
					<p>
						<label for="id_first_name">First name:</label> 
						<input type="text" name="first_name" maxlength="30" id="id_first_name">
					</p>
					<p>
						<label for="id_last_name">Last name:</label> 
						<input type="text" name="last_name" maxlength="150" id="id_last_name">
					</p>
					<p>
						<label for="id_password1">Password:</label> 
						<input type="password" name="password1" required="" id="id_password1">
					</p>
					<p>
						<label for="id_password2">Re-type Password:</label> 
						<input type="password" name="password2" required="" id="id_password2">
					</p>
					<p>
						<label for="id_loc_office">Office location:</label> 
						<input type="text" name="loc_office" required="" maxlength="100" id="id_loc_office">
					</p>
					<button type="submit" class="btn btn-primary">Sign up</button>
				</form>


			</div>
		</div>
	</div>
    <footer>All Rights Reserved, Auto Concierge 2018</footer>
  </body>
 </html>