{% extends 'base.html' %}
{% block content %}
	<h4>Request Service</h4>
	<hr />
	<form action="request/" method="post" class='form-group'>
		{% csrf_token %}
		<div class='my-2'>
			<label for='id_description' class='form-label col-12'>Description</label>
			<input type='text' name='description' id='id_description' class='form-control col-8 offset-2'></select>
		</div>
		<div class='my-2'>
			<label for='id_date' class='form-label col-12'>Date</label>
			<input type='date' name='date' id='id_date' class='form-control col-8 offset-2'></select>
		</div>		
		<div class='my-2'>
			<label for='id_shop' class='form-label col-12'>Shop</label>
			<select name='shop' id='id_shop' class='form-control col-8 offset-2'>
				<option value='' selected disabled>---</option>
				{% for shop in shops %}
					<option value='{{shop.id}}'>{{shop.shop_name}}</option>
				{% endfor %}
			</select>
		</div>
		<div class='my-2'>
			<input class='btn btn-success col-4' type='submit' value='Request' />
		</div>
	</form>
	<div class='my-2'>
        <a class='btn btn-secondary col-4' href='/car/{{car.id}}'>Cancel</a>
    </div>
	<div id='car-model-data'></div>
{% endblock %}
