{% extends 'base.html' %}

{% block content %}
	<h2 class='my-4'>Sign up for a free account</h2>
	<p class='lead my-4'>Select the type of account you want to create</p>
	<div class='row my-4'>
		<a href='/signup/carowner' class='btn btn-primary col-6 offset-3 col-md-4 offset-md-4'>Car owner</a>
	</div>
	<div class='row my-4'>
		<a href='/signup/shopowner' class='btn btn-info col-6 offset-3 col-md-4 offset-md-4'>Shop owner</a>
	</div>
	<div class='row my-4'>
		<a href='/signup/servicedriver' class='btn btn-success col-6 offset-3 col-md-4 offset-md-4'>Service driver</a>
	</div>
{% endblock %}